* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.scb-list-item {
  color: black;
}

.false {
  text-decoration: line-through;
  /* color: lightgray; */
  font-weight: lighter;
}

li {
  display: pointer;
}
